/*FONT_FAMILY*/
.LogoHead {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 5px #cecece;
  padding: 15px;
}
.LogoHead img {
  width: 170px;
  height: auto;
}

body {
  background-color: #fcfcfc;
  margin: 0px;
}

/*font family*/
/*Animation*/
.BlockReservation button {
  height: 60px;
  width: auto;
  color: white;
  font-size: x-large;
  border-radius: 40px;
  box-shadow: 5px 5px 5px #cecece;
  background: linear-gradient(#9356DC, #FF79DA);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

/*   Boutons fonctionnement   */
.btn--fonctionnement {
  display: flex;
  background-color: #eeeeee;
  max-width: 500px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
  height: 70px;
  box-shadow: 5px 5px 10px #dadada;
}
.btn--fonctionnement:hover {
  background-color: rgba(255, 121, 218, 0.2);
}

.btn--fonctionnement i {
  color: #a5a3a3;
}

.btn--fonctionnement i:hover {
  color: #9356DC;
}

span.un {
  position: absolute;
  color: white;
  margin-top: 18px;
  margin-left: -10px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: -15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: x-large;
  background-color: #9356DC;
  border-radius: 20px;
}

span.logobutton {
  font-size: x-large;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbutton {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__command {
  display: flex;
  justify-content: center;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  border-radius: 40px;
}
.btn__command__text {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
}

.LogoHeart {
  font-size: x-large;
  padding-right: 29px;
}
.LogoHeart :hover, .LogoHeart :active {
  content: "\f004";
  font-weight: bold;
  background: linear-gradient(120deg, #FF79DA 0%, #9356DC 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-out;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #f6f6f6;
  animation: loader 5000ms forwards;
  z-index: 10;
}

/*Animation loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader__animation--1 {
  border-left: 20px solid #fcfcfc;
  border-right: 20px solid #fcfcfc;
  border-top: 20px solid #fcfcfc;
  border-bottom: 20px solid #9356DC;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 3s linear forwards;
  /*centrer*/
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.loader__animation--2 {
  border-left: 20px solid #fcfcfc;
  border-right: 20px solid #fcfcfc;
  border-top: 20px solid #FF79DA;
  border-bottom: 20px solid #fcfcfc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 6s linear forwards;
  /*centrer*/
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.loader__animation--3 {
  border-left: 20px solid #fcfcfc;
  border-right: 20px solid #99E2D0;
  border-top: 20px solid #fcfcfc;
  border-bottom: 20px solid #fcfcfc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 10s linear forwards;
  /*centrer*/
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.loader__animation--4 {
  border-left: 20px solid #fcfcfc;
  border-right: 20px solid #99E2D0;
  border-top: 20px solid #FF79DA;
  border-bottom: 20px solid #9356DC;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 5s linear forwards;
  /*centrer*/
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/*Animation-loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/*  RESERVATION */
.h3title {
  text-align: center;
  font-family: Roboto, sans serif;
}

.BlockReservation {
  font-family: Roboto, sans serif;
  background-color: #f3f3f3;
  text-align: center;
  padding: 50px;
}

.BlockReservation p {
  color: #a5a3a3;
}

/*  FONCTIONNEMENT  */
.BlockFonctionnement {
  font-family: Roboto, sans serif;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #fcfcfc;
}
@media screen and (min-width: 1000px) {
  .BlockFonctionnement {
    display: flex;
    justify-content: space-between;
  }
  .BlockFonctionnement h1 {
    margin-right: 20px;
  }
}
.BlockFonctionnement a {
  text-decoration: none;
  color: black;
}

/*     RESTAURANT */
.blockrestaurants {
  font-family: Roboto, sans serif;
  padding-top: 30px;
  background-color: #f3f3f3;
}
@media screen and (min-width: 1000px) {
  .blockrestaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.blockrestaurants h1 {
  padding: 20px;
}
@media screen and (min-width: 1000px) {
  .blockrestaurants h1 {
    width: 100%;
  }
}

.blockImgRestaurants {
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #cecece;
}
.blockImgRestaurants a {
  text-decoration: none;
  color: #000;
}
.blockImgRestaurants a img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  max-height: 180px;
  object-fit: cover;
}

.FigureHeart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FigureResto {
  font-size: x-large;
}

.Nouveau {
  display: flex;
  position: absolute;
}
.Nouveau p {
  display: flex;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 62vw;
  color: #3c5952;
  height: 28px;
  background-color: #99E2D0;
  border-radius: 5px;
}
@media screen and (min-width: 1000px) {
  .Nouveau p {
    display: none;
  }
}

/*FOOTER*/
.footer {
  padding: 10px;
  background-color: #494949;
  color: white;
  font-family: "Roboto-Regular", sans-serif;
  padding: 30px;
}
.footer .menu {
  line-height: 9px;
}

.LogoFooter img {
  padding: 5px;
  padding-top: 20px;
  height: 20px;
  width: auto;
}

.menu i {
  min-width: 20px;
  line-height: 9px;
}

.img-logo {
  display: flex;
  justify-content: center;
}

.imgMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.imgMenu img {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.BlockFonctionnement-Menu {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: -25px;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}

.menu-general {
  background-color: #f6f6f6;
}
.menu-general .vignette__general-1:nth-child(2) {
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-general .vignette__general-1:nth-child(3) {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-general .vignette__general-1:nth-child(4) {
  animation: fadein 4s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-general .vignette__general-1:nth-child(5) {
  animation: fadein 5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.LogoHead__menu {
  background-color: #f6f6f6;
  box-shadow: 10px 5px 5px #cecece;
  padding: 15px;
}
.LogoHead__menu__return {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 50%;
  position: absolute;
  padding-top: 8px;
  color: #636363;
  font-size: x-large;
}

.titre__menu-1 {
  padding-left: 40px;
}
.titre__menu-1 p {
  font-family: "Roboto-Thin", sans-serif;
  font-size: x-large;
}
.titre__menu-1 .border-title {
  margin-top: -15px;
  height: 5px;
  width: 50px;
  background-color: #99E2D0;
}

.titre-menu {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", cursive;
  flex-wrap: nowrap;
}
.titre-menu i {
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: xx-large;
}

.vignette__general-1 {
  background-color: white;
  max-width: none;
  height: 80px;
  box-shadow: 10px 5px 5px #cecece;
  margin: 20px;
  padding-left: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.vignette__general-1 .title-menu {
  width: 100%;
}
.vignette__general-1__animation {
  width: 100%;
  padding-right: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.vignette__general-1__animation p {
  font-size: 19px;
}
.vignette__general-1:hover .vignette__general__animation__confirmation {
  margin-right: 0px;
  min-width: 90px;
  transition: margin-right 0.5s;
}
.vignette__general-1:hover .vignette-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.vignette__general-1:hover .vignette-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.vignette__general-1:hover .validate-icone {
  transform: rotate(360deg);
}

.vignette__general__animation__confirmation {
  background-color: #99E2D0;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -64px;
}

.validate-icone {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 40px;
  background: #FFF;
  color: #99E2D0;
  display: flex;
  align-items: center;
  margin-right: 30%;
  transition: transform 0.5s;
}
.validate-icone .fas {
  margin-left: 4px;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.vignette-text {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.vignette-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Roboto-Regular", sans-serif;
}
.vignette-text p span.vignette-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Roboto-Thin", sans-serif;
  font-size: small;
}

/*# sourceMappingURL=style.css.map */
