.vignette__general-1{
       
    background-color: $colour-fontfamilyWhite;
    max-width: none;
    height: 80px;
    box-shadow: 10px 5px 5px $colour-boxShadow;
    margin: 30px;
    padding-left: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden; 
    



        .title-menu{
            width: 100%;
    }

            &__animation {
                width: 100%;
                padding-right: 5px;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;

                p {
                    font-size: 19px;
    }        
}

                    &:hover {
                        .vignette__general__animation__confirmation {
                            margin-right: 0px;
                            min-width: 90px;
                            transition: margin-right 0.5s;
    }

    .vignette-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

           p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            
        }
    }

    .validate-icone {
        transform: rotate(360deg);
    }

}


}



.vignette__general__animation__confirmation {
background-color: #99E2D0;
min-width: 4rem;
display: flex;
align-items: center;
justify-content: center;
margin-right: -64px;
}

.validate-icone {
width: 1.6rem;
height: 1.6rem;
border-radius: 40px;
background: #FFF;
color: $colour-tercary;
display: flex;
align-items: center;
margin-right: 30%;
transition: transform 0.5s;

.fas {
    margin-left: 4px;
}
}


.price {
display: flex;
justify-content: flex-end;
align-items: flex-end;
align-self: flex-end;
font-weight: bold;
font-family: 'Roboto', sans-serif;
}

.vignette-text {
width: 230px;
display: flex;
flex-direction: column;
justify-content: space-between;
text-overflow: ellipsis;

p {
    @include Vignette-menu;
    span.vignette-description{
        @include vignette-descrition;
    }
}


}
