$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-secondary-opacity:rgba(255, 121, 218, 0.2);
$colour-tercary: #99E2D0;
$colour-background: rgb(252, 252, 252);
$colour-blockReservation: rgb(243, 243, 243);
$colour-backgroundLogo:#f6f6f6;
$colour-boxShadow:rgb(206, 206, 206);
$colour-boxShadow-dark:rgb(182, 182, 182);
$colour-fontfamilyWhite: white;
$colour-fontfamily-nouveau:#3c5952;
$colour-background-loader:#f6f6f6;
$fontfamily-reservation:#a5a3a3;

/*FONT_FAMILY*/

$fontfamily-principal: Roboto, sans serif;
